<app-navbar></app-navbar>
<div id="hero">
    <div id="hero-content">
        <div class="m-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, tenetur? Natus suscipit quasi corrupti dolorum delectus, explicabo saepe at, architecto voluptas placeat ad. Quaerat, voluptate, recusandae consectetur voluptatibus quibusdam reiciendis dolor excepturi enim obcaecati minima at eum molestias natus explicabo?
        </div>
    </div>
    <div id="hero-img">
        <img src="../../../assets/images/Book lover-amico.svg" alt="">
    </div>
</div>