.login-wrapper-container {
}

#login-wrapper {
  width: 70%;
  display: flex;
  position: absolute;
  top: 10%;
  border-radius: 10px;
  background: white;
}

.section-1 {
  flex-basis: 60%;
  padding: 15px;
  flex-grow: 1;
  flex-shrink: 1;
  border-right: 1px solid darkgrey;
}

.section-2 {
  flex-basis: 40%;
  padding: 50px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-grow: 1;
  flex-shrink: 2;
}

.section-2 label {
  font-weight: 600;
}

.section-2 form button {
  background-color: rgb(251, 203, 60);
  color: #333;
  font-weight: 600;
}


.btn-grad {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 6px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .google-icon-svg {
   width: 30px;
   height: 30px;
   /* border-radius: 50%; */
 }

.social-login {
   text-align: center;
}

.social-login p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: rgb(105, 105, 105);
}

.social-login p > span {
  font-size: 25px;
  font-weight: 800;
  display: flex;
  align-items: center;
  color: darkgrey;
  margin: 0 5px;
}


.form-control{
    font-size: 17px;
}

/* 
 .social-login p::before {
    content: '. . .';
    width: 30px;
    height: 2px;
    display: block;
    background-color: #333; 
    position: absolute;
    top: 50%;
    left: 25%;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
 } */

 /* .social-login p::after {
  content: '. . .';
  width: 30px;
  height: 2px;
  display: block;
   background-color: #333; 
  position: absolute;
  top: 50%;
  left: 65%;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
} */


.social-login .fa-facebook {
  font-size: 30px;
  margin: 13px;
 }

@media (max-width: 1200px) {
  #login-wrapper {
    width: 80%;
  }

  .section-2 {
    padding: 40px;
  }
}

@media (max-width: 992px) {
  .section-1 {
    flex-basis: 50%;
  }

  .section-2 {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  #login-wrapper {
    width: 60%;
  }

  .section-1 {
    display: none;
  }
}

@media (max-width: 700px) {
  #login-wrapper {
    width: 80%;
  }
}

@media (max-width: 576px) {
  #login-wrapper {
    width: 90%;
  }
}
