#forgot-password-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#forgot-password {
  padding: 50px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: white;
}

#forgot-password button {
  background-color: rgb(251, 203, 60);
  color: #333;
  font-weight: 600;
}

@media (max-width: 820px) {
  #forgot-password-wrapper {
    left: 0;
  }

  #forgot-password {
    width: 90%;
  }
}
